aaa_base
aaa_elflibs
aaa_terminfo
bash
bin
binutils
brotli
bzip2
cmake
coreutils
curl
cyrus-sasl
dialog
diffutils
elogind
elvis
etc
expat
file
findutils
flex
gawk
gc
gcc
gcc-g++
gettext
git
glibc
glibc-profile
glibc-solibs
gnupg
grep
guile
gzip
icu4c
infozip
iproute2
kernel-headers
libarchive
libcgroup
libffi
libgcrypt
libgpg-error
libmpc
libunistring
libxml2
lz4
lzip
lzo
make
mpfr
ncurses
net-tools
nettle
nghttpd2
openssl
patch
perl
pkgtools
procps-ng
python3
rsync
sed
shadow
slackpkg
sqlite
sudo
sysfsutils
tar
time
tree
utempter
util-linux
vim
wget
which
xxHash
xz
zlib